# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.log
*.sqlite3

# Environment variables
.env

# JavaScript
node_modules/
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Lock files
*.lock
